body {
    background-color: lightskyblue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:darkslategray;
}

div {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    margin: 60px auto;
    width: 250px;
    font-size: 30px;
}

p {
    text-align:  center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

button {
    background-color:pink;
}

button:hover {
    background-color:darkseagreen;
}